<h1 class="text-center">All Completed Appointments</h1>

<div class="container mt-5">
    <table class="table table-striped table-bordered text-center">
        <thead class="table-primary">
            <tr>
                <th>Doctor Name</th>
                <th>Patient Name</th>
                <th>Appointment Date</th>
                <th>Appointment Time</th>
            </tr>
        </thead>
        <tbody class="text-center">
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Doctor.Name</td>
                    <td>@item.PatientName</td>
                    <td>@item.AppointmentDate.ToString("dd/MM/yyyy")</td>
                    <td>@item.AppointmentTime</td>
                </tr>
            }
        </tbody>
    </table>
</div>
